@media (max-width: 376px) {

center {
    padding-left: 16px;
    padding-right: 16px;
}

.img__conteiner {
    display: none;
}
.hed {
    width: 296px;
    margin-left: 40px;
}
.header{
    background-position: 37px 97px, 91px 64px, 303px 580px, 272px 557px, 220px -90px;
    background-image: url(img/star2mob.svg), url(img/star3mob.svg), url(img/star4mob.svg), url(img/star5mob.svg), url(img/Vectormob.svg);
    &__title{
    width: 296px;
    font-size: 40px;
    line-height: 49px;
    padding-top: 147px;
    padding-bottom: 24px;
    text-align: center;
    }
    &__text{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
        &-bold{
            font-weight: 600;
        }
    }
    &__button{
        width: 285px;
        height: 55px;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 131px;
        margin-top: 36px;
        font-family: "Montserrat";
        text-decoration: none;
        margin-left: 46px;
    }
}

.title {
    &-mini {
        font-size: 40px;
        line-height: 49px;
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.gallery__conteiner {
    background-image: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
}
.gallery {
    &__item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;        
    background: none;
    background-repeat: no-repeat;
    background-color: white;
    width: 343px;
    padding-top: 314px;
    &_1 {
        background-image: url(img/mob_img1.jpeg);
    }
    &_2 {
        background-image:url(img/mob_img2.jpeg);
    }
    &_3 {
        background-image: url(img/mob_img3.jpeg);
    }
    &_4 {
        background-image: url(img/mob_img5.jpeg);
    }
    &_5 {
        background-image: url(img/mob_img4.jpeg);
    }
    &_6 {
        background-image: url(img/mob_img6.jpeg);
    }
    }
    &__title {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 16px;
    width: 285px;
    }
    &__text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 32px;
    width: 285px;
    }
    &__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    margin-right: 0px;
    margin-bottom: 33px;
    }
}

}